.row-header{
    margin: 0px auto;
    padding: 0px auto;

}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer{
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron{
    padding: 70px 30 px 70px 30 px;
    min-height: 380px;
    max-height: 400px;
    margin: 0px auto;
    /* background: #9575CD; */
    /* background-image:url("img/alberto.png"); */
    color:#1c1529;
    
}
.h1name{
    font-family: 'Dancing Script', cursive;
}


address{
    font-size: 80%;
    margin: 0px;
    color:#0f0f0f;
   
}


body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark{
    /* background-color: #6438c8; */

    background-color: #673acf;


}

/* i am going to change the font size of copyright part col-auto class to 80% because it is not fitting jio phone 2  */

.col-auto{
      font-size: 80%;
}


.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;

}

.h1name{
    font-size: 320%;
}

#card-heading{
    text-align:center;
}

.card-header{
    /* background-color: #673acf; */
    background-color: #6438c8;
    color: floralwhite;
}

.idealink{
  text-decoration:none;
}


/* to change the Button color using id="buttontop" inside HTML */
 #buttontop{
        background-color: #c7d3d4 !important;
        color: black;
        border-color: none;
        
    } 
#buttontop:hover{
    background-color: #343a3a !important;
    color:white;

    
}
    
#fb{
    color: #3b5998;
    
}
#li{
    color: #0e76a8;
}

#yt{
    color:  #c4302b;
}

#mail{
   color: #B23121;
}
#google{
        color:#db4a39;
    }

    





    .formBody{ /*conflict*/
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background: #c7d3d4;
    }
    
    .box{
        width: 300px;
        padding: 40px;
        position: absolute; 
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        /* background: linear-gradient(to bottom, #280085, #6438c8); */
        background: linear-gradient(to bottom, #190053, #6438c8);
        text-align: center;
        box-shadow: -15px -15px 20px rgba(255,255,255,0.05), -15px -15px 25px rgba(0,0,0,0.5); 
    }
    
    .userid1, .pass, .Name, .Email, .category, .projectName{ 
        display: flex;
        flex-wrap: wrap; 
        align-items: center;
    }
    
    .image, .video, .materials, .steps  {
        align-items: center;
        color: white;
    }
    
    #diff, #time, #cost{
        align-items: center;
        margin: 10px 5px 5px 5px;
        padding: 5px;
        color: rgba(255, 255, 255, 0.678);
        background-color: transparent;
        border-color: #cbcd91;
    }
    
    option{
        color: black;
    }
    
    #title{
        color: white;
        font-weight: 500;
    }
    
    textarea{
        border: 2px solid #cbcd91;
        padding: 10px;
    }
    
    textarea:focus{
        width: 280px;
    }
    
    .box input[type=file]{
        margin-left: 36px;
    }
    
    .box input[type=text]{
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border-bottom: 2px solid #c7d3d4;
        padding: 14px 10px;
        width: 200px;
        outline: none;
        color: white;
        transition: 0.25s;
    }
    
    .box input[type=text]:focus{
        width: 250px;
        border: 2px solid;
        border-radius: 5px;
        border-color: #edf335;
    }
    
    .box input[type=submit]{
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #cbcd91;
        padding: 14px 40px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
        cursor: pointer;
    }
    
    .box input[type=submit]:hover{
        background: #cbcd91;
        color: black;
    }
    
    .error {
        color: red;
    }

    #register{
        background: none;
        border: 2px solid #f6ff00;
        padding: 10px 30px;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
        cursor: pointer;
    }
    
    #register:hover{
        background: #f6ff00;
        color: black;
    }

    #apply:hover{
        background-color: rgb(255, 187, 0);
    }

    table{
        /* border-collapse: collapse; */
        width: 60%;
        color: black;
        font-size: 20px;
        text-align: left;
    }

    th{
        padding: 7px;
        background-color: #673acf;
        color: white;
    }

    td{
        padding: 7px;
        color: black;
        background-color: whitesmoke;
        
    }

    

